body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.home-page {
  display: flex;
  height: 100vh;
}

.navbar {
  width: 200px;
  background: #f4f4f4;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.navbar ul {
  list-style: none;
  padding: 0;
}

.navbar li {
  margin: 10px 0;
  cursor: pointer;
}

.navbar li.active {
  font-weight: bold;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.news-list {
  
  gap: 20px;
  padding: 20px;
}

.news-card {
  margin-left: 15rem;
  width: 800px;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
}

.news-card img {
  width: 80%;
  height: 300px;
  
}

.news-card .news-content {
  padding: 15px;
}
